<div class="sidebar">
  <h2>Final Fantasy Series</h2>
  <ul>
    <li><a href="{{ site.baseurl }}/ff1/">FF1</a></li>
    <li><a href="{{ site.baseurl }}/ff2/">FF2</a></li>
    <li><a href="{{ site.baseurl }}/ff3/">FF3</a></li>
    <li><a href="{{ site.baseurl }}/ff4/">FF4</a></li>
    <li><a href="{{ site.baseurl }}/ff5/">FF5</a></li>
    <li><a href="{{ site.baseurl }}/ff6/">FF6</a></li>
    <li><a href="{{ site.baseurl }}/ff7/">FF7</a></li>
    <li><a href="{{ site.baseurl }}/ff8/">FF8</a></li>
    <li><a href="{{ site.baseurl }}/ff9/">FF9</a></li>
    <li><a href="{{ site.baseurl }}/ff10/">FF10</a></li>
    <li><a href="{{ site.baseurl }}/ff11/">FF11</a></li>
    <li><a href="{{ site.baseurl }}/ff12/">FF12</a></li>
    <li><a href="{{ site.baseurl }}/ff13/">FF13</a></li>
    <li><a href="{{ site.baseurl }}/ff14/">FF14</a></li>
    <li><a href="{{ site.baseurl }}/ff15/">FF15</a></li>
    <li><a href="{{ site.baseurl }}/ff16/">FF16</a></li>
  </ul>
</div>