<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/ff1/index.html">FF I</a></li>
        <li><a href="{{ site.baseurl }}/ff2/index.html">FF II</a></li>
        <li><a href="{{ site.baseurl }}/ff3/index.html">FF III</a></li>
        <li><a href="{{ site.baseurl }}/ff4/index.html">FF IV</a></li>
        <li><a href="{{ site.baseurl }}/ff5/index.html">FF V</a></li>
        <li><a href="{{ site.baseurl }}/ff6/index.html">FF VI</a></li>
        <li><a href="{{ site.baseurl }}/ff7/index.html">FF VII</a></li>
        <li><a href="{{ site.baseurl }}/ff8/index.html">FF VIII</a></li>
        <li><a href="{{ site.baseurl }}/ff9/index.html">FF IX</a></li>
        <li><a href="{{ site.baseurl }}/ff10/index.html">FF X</a></li>
        <li><a href="{{ site.baseurl }}/ff11/index.html">FF XI</a></li>
        <li><a href="{{ site.baseurl }}/ff12/index.html">FF XII</a></li>
        <li><a href="{{ site.baseurl }}/ff13/index.html">FF XIII</a></li>
        <li><a href="{{ site.baseurl }}/ff14/index.html">FF XIV</a></li>
        <li><a href="{{ site.baseurl }}/ff15/index.html">FF XV</a></li>
        <li><a href="{{ site.baseurl }}/ff16/index.html">FF XVI</a></li>
    </ul>
</nav>